<?xml version="1.0"?>
<Settings version="1">
	<setting key="Graphics.MonitorRectangle">0,0,1920,983</setting>
	<setting key="Internet.LastMetadataCheck">16483</setting>
	<setting key="Library.LastFile"></setting>
	<setting key="Library.LastGroupPath">Keyboard Classics</setting>
	<setting key="System.LastScreen">title</setting>
	<setting key="System.Random">be7f5194-2f12-4478-9846-80428fb06554</setting>
	<setting key="System.TutorialPresented">1</setting>
	<setting key="System.UnlockKey">Synthkeysia77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxrIHY9IjEiIGk9IjQyMzQ2YTI5YWNlZTQxZmNhY2QwYjczZTBjZjNhZjVmIiB0PSJwIiBjPSIxIiB5PSIyMDA5IiBtPSIxMSIgZD0iNyIgbj0iQnJlbmRhbiBSb3NzbyIgcz0iZmNjMDlpZmEzNW5yOGlJb2pwalpVazdmRWx4cjViZCtxWHIzN0d0SzZBUXpmSUxRTktZK3IrUTJGajBZc3F0K1RQMnpwRmx6bjEwNXVrVHNNNDM3UmpPemRsUDV2a2ovZHhMNGY3VDYybWVJMk1NVDJma2MrRlhIaTcxaGNKN3hLUHdwQjc1STdVajlReGVIVURzcmRUemlrOXo3NWVSZlgrckNGcHI3SEdvPSIgLz4=aisyekhtnyS</setting>
</Settings>
